*{
    margin:0;
    padding: 0;
}

header{
    background-color: #4d336e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.colleen-imagem{
    width: 25%;
}

.colleen{
    background-image: linear-gradient(#4d336e,#e1cbfd);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.colleen-div-conteudo{
    width: 35%;
}

.colleen-titulo{
    padding: 24px 0;
}